.navbar-brand1 {
    margin-top: 20px;
    font-size: 40px;
    text-align: center;
}

.nav {
    padding: 25px;
    text-align: center;
    float: right;
    font-size: 18px;
    
}

footer {
    text-align: center;
    height: 1in;
}